# Makefile for libdtmf_tools_protocol
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = dtmf_tools_protocol

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	csv_helper.cpp \
	dummy_creator.cpp \
	parser.cpp \
	str_helper.cpp \
	validator.cpp \

LIB_EXT_LIB_NAMES = \
	dtmf_tools \
	basic_parser \
	generic_request \
	utils \
